:root {
  /* 🎨 Holy 브랜드 컬러 */
  --color-main: #5899d0; /* 깊은 갈색 - 거룩, 안정감 */

  /* 텍스트 컬러 */
  --text-primary: #1e2d3d;

  /* 배경 컬러 */
  --bg-light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #ffffff;
  color: #111;
}
