:root {
  /* 🎨 Holy 브랜드 컬러 */
  --primary: #5899d0;

  /* 텍스트 컬러 */
  --text-primary: #1e2d3d;

  --date-primary: #4f88bc;

  /* 배경 컬러 */
  --bg-light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #ffffff;
  color: #111;
}
